# Server Configuration
HOST=127.0.0.1
PORT=7860

# Default Local Ollama Host
OLLAMA_BASE_URL=http://127.0.0.1:11434

# Optional Cloud API Keys (can also be configured in IDE UI Settings dialog)
OPENROUTER_API_KEY=
OPENAI_API_KEY=
ANTHROPIC_API_KEY=
